* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

html,
body {
  width: 100%;
}

.navbar {
  padding: 0 5%;
  padding-top: 20px;
}
.navbar .navbar-nav {
  margin-left: 40%;
}
.navbar .navbar-nav .nav-item {
  margin: 0 35px;
}
.navbar .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  color: #625261;
  transition: ease-in;
  transition-duration: 0.8s;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  transform: scale(1.05);
  transition: ease-in;
  transition-duration: 0.8s;
}
.navbar #contact {
  display: inline-block;
  width: 120px;
  height: 55px;
  border-radius: 10px 0 10px 10px;
  background-color: #89BEB3;
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.2);
  color: #E8E8E8;
  line-height: 55px;
  text-align: center;
  margin-left: auto;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  text-decoration: none;
}
@media all and (max-width: 415px) {
  .navbar .navbar-nav {
    margin-left: 0%;
    margin-top: 5%;
  }
  .navbar #contact {
    margin-left: 8%;
    margin-top: 10px;
  }
}
@media all and (min-width: 415px) and (max-width: 1378px) {
  .navbar .navbar-nav {
    margin-left: 27%;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0 20px;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 18px;
  }
}
@media all and (min-width: 1378px) and (max-width: 1680px) {
  .navbar .navbar-nav {
    margin-left: 37%;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0 20px;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 18px;
  }
}

.footer-all {
  width: 100%;
  height: 550px;
  background-color: #625261;
  padding: 100px 10%;
}
.footer-all div {
  width: 30%;
}
.footer-all div p {
  margin-top: 70px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-all section {
  width: 70%;
}
.footer-all section div {
  width: 75%;
  margin-left: auto;
  margin-top: 40px;
}
.footer-all section div ul {
  list-style-type: none;
}
.footer-all section div ul li {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer-all section div ul li a {
  color: #ffffff;
  text-decoration: none;
}
.footer-all section div ul li:nth-of-type(1) {
  font-weight: 800;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}
@media all and (min-width: 1000px) and (max-width: 1400px) {
  .footer-all section div ul li {
    font-size: 14px;
  }
  .footer-all section div ul li:nth-of-type(1) {
    font-size: 18px;
  }
}
@media all and (max-width: 415px) {
  .footer-all section div ul {
    margin: 20px;
  }
  .footer-all section div ul li:nth-of-type(1) {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 415px) {
  .footer-all {
    overflow-x: hidden;
    height: 1100px;
  }
  .footer-all div {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  .footer-all section {
    width: 300px;
    margin: 0 auto;
  }
  .footer-all section div {
    width: 100%;
  }
}
.uc {
  width: 40%;
  margin: 200px auto;
}
.uc img {
  width: 100%;
}

.section-one {
  width: 80%;
  margin: 5% auto;
}
.section-one .content-area {
  width: 50%;
}
.section-one .content-area h1 {
  margin-top: 150px;
  font-size: 55px;
  color: #625261;
  font-family: Nunito;
  font-weight: 600;
  letter-spacing: 2%;
}
.section-one .content-area p {
  margin-top: 8%;
  font-size: 22px;
  color: #625261;
  opacity: 0.6;
  font-family: Nunito;
  font-weight: 700;
  letter-spacing: 5%;
}
.section-one .content-area a {
  margin-top: 30px;
  display: inline-block;
  width: 150px;
  height: 55px;
  left: calc(50% - 150px / 2 - 490px);
  top: 632px;
  background: #89beb3;
  border-radius: 50px;
  color: #E8E8E8;
  text-decoration: none;
  line-height: 55px;
  font-size: 22px;
  text-align: center;
  font-family: Nunito;
  font-weight: 900;
  transition: ease-in;
  transition-duration: 0.7s;
}
.section-one .content-area a:hover {
  transform: scale(1.1);
  transition: ease-in;
  transition-duration: 0.7s;
}
.section-one .image-area {
  width: 50%;
}
.section-one .image-area img {
  display: block;
  width: 80%;
  margin-left: auto;
}

.small-defination {
  width: 75%;
  margin: 8% auto 6%;
  list-style: none;
  text-align: center;
}
.small-defination li {
  display: inline-block;
  width: 180px;
  font-size: 18px;
  font-family: Nunito;
  font-weight: 700;
  color: #625261;
  border-right: 2px solid #625261;
}
.small-defination li:nth-of-type(5) {
  border-right: none;
}

@media all and (max-width: 415px) {
  .section-one {
    width: 90%;
    margin: 70px auto 30px;
  }
  .section-one .image-area {
    width: 90%;
  }
  .section-one .image-area img {
    margin: 0 auto;
  }
  .section-one .content-area {
    width: 90%;
    margin: 0 auto;
  }
  .section-one .content-area h1 {
    margin-top: 60px;
    text-align: center;
    font-size: 33px;
  }
  .section-one .content-area p {
    text-align: center;
    font-size: 17px;
  }
  .section-one .content-area a {
    display: block;
    margin: 30px auto 5px;
    font-size: 18px;
    color: #ffffff;
  }

  .small-defination {
    width: 90%;
    margin: 0 auto 60px;
  }
  .small-defination li {
    text-align: center;
    font-size: 16px;
    width: 120px;
    margin-top: 20px;
    border-right: none;
  }
}
@media all and (min-width: 415px) and (max-width: 1387px) {
  .section-one .content-area h1 {
    font-size: 39px;
    margin-top: 80px;
  }
  .section-one .content-area p {
    font-size: 18px;
  }
  .section-one .content-area a {
    font-size: 18px;
  }
}
@media all and (min-width: 1387px) and (max-width: 1680px) {
  .section-one .content-area h1 {
    font-size: 45px;
    margin-top: 80px;
  }
  .section-one .content-area p {
    font-size: 20px;
    letter-spacing: 5%;
  }
  .section-one .content-area a {
    font-size: 20px;
    color: #ffffff;
  }
}
.section-two h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 48px;
  line-height: 120%;
  /* or 48px */
  text-align: center;
  letter-spacing: 0.03em;
  color: #625261;
}
.section-two img {
  display: block;
  width: 60%;
  margin: 6% auto;
}
@media all and (max-width: 415px) {
  .section-two h2 {
    font-size: 28px;
    font-weight: 800;
    text-transform: capitalize;
    margin: 100px 0 0;
  }
  .section-two img {
    display: block;
    width: 97%;
    margin: 60px auto;
  }
}
@media all and (min-width: 415px) and (max-width: 1387px) {
  .section-two h2 {
    font-size: 36px;
  }
  .section-two img {
    width: 70%;
    margin: 8% auto;
  }
}

.section-divider {
  display: block;
  margin: 0 auto;
}

@media all and (max-width: 415px) {
  .section-divider {
    width: 50%;
  }
}
.section-three {
  width: 86%;
  margin: 100px auto 20px;
}
.section-three div {
  width: 50%;
}
.section-three div h3 {
  width: 80%;
  margin-left: 100px;
  margin-top: 70px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  text-align: justify;
  letter-spacing: 0.05em;
  color: #625261;
}
.section-three div .p-content {
  width: 80%;
  margin-top: 60px;
  margin-left: 100px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 180%;
  text-align: justify;
  letter-spacing: 0.05em;
  color: #a6a6a4;
}
.section-three div .p-name {
  width: 80%;
  margin-top: 50px;
  margin-left: 100px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  text-align: right;
  letter-spacing: 0.05em;
  color: #a6a6a4;
  font-style: italic;
}
.section-three div img {
  display: block;
  width: 80%;
}
@media all and (max-width: 415px) {
  .section-three div {
    width: 100%;
    margin-top: -40px;
  }
  .section-three div h3 {
    width: 100%;
    font-size: 28px;
    margin: 0;
    text-transform: capitalize;
    text-align: center;
  }
  .section-three div .p-content {
    width: 100%;
    font-size: 16px;
    margin: 0;
    margin-top: 50px;
    text-align: center;
  }
  .section-three div .p-name {
    width: 100%;
    margin: 0;
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
  }
  .section-three div img {
    margin: 80px auto 0;
    width: 90%;
  }
}
@media all and (min-width: 415px) and (max-width: 1387px) {
  .section-three div h3 {
    font-size: 36px;
  }
  .section-three div .p-content {
    margin-top: 40px;
    font-size: 16px;
  }
  .section-three div .p-name {
    font-size: 18px;
  }
}

.ads-image-area {
  width: 90%;
  margin: 70px auto;
}
.ads-image-area .ads-others {
  width: 80%;
  display: block;
  margin: 0 auto;
}
.ads-image-area .ads-mobile {
  display: none;
}

@media all and (max-width: 415px) {
  .ads-image-area {
    width: 100%;
    margin: 50px auto;
    text-align: center;
    overflow-x: hidden;
  }
  .ads-image-area .ads-mobile {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  .ads-image-area .ads-others {
    display: none;
  }
}
@media all and (min-width: 415px) and (max-width: 1387px) {
  .ads-image-area {
    width: 90%;
    margin: 70px auto;
  }
  .ads-image-area img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}
.section-five {
  margin-top: 150px;
}
.section-five h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #625261;
}
.section-five article {
  width: 1150px;
  margin: 80px auto;
}
.section-five article div {
  width: 350px;
  height: 300px;
  background: #ffffff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 20px 30px;
  margin: 30px 10px;
}
.section-five article div p {
  font-size: 16px;
  font-family: Nunito;
  text-align: justify;
  color: rgba(50, 50, 50, 0.7);
}
.section-five article div p span {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  color: #89BEB3;
}
@media all and (max-width: 415px) {
  .section-five h2 {
    font-size: 28px;
    font-size: 28px;
  }
  .section-five article {
    width: 95%;
    margin: 40px auto;
  }
  .section-five article div {
    margin: 20px auto;
  }
}

@media all and (max-width: 415px) {
  .section-five {
    margin-top: 70px;
    overflow-x: hidden;
  }
}
.section-six {
  width: 100%;
}
.section-six h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 48px;
  line-height: 120%;
  /* or 48px */
  text-align: center;
  letter-spacing: 0.03em;
  color: #625261;
}
.section-six article {
  width: 75%;
  margin: 90px auto;
}
.section-six article aside {
  width: 45%;
}
.section-six article aside h4 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 150%;
  /* or 82px */
  color: #625261;
}
.section-six article aside #accordion {
  width: 100%;
}
.section-six article aside #accordion .card {
  width: 100%;
  margin: 15px auto;
  border: none;
}
.section-six article aside #accordion .card .card-header {
  width: 100%;
  height: 70px;
  background: #ffffff;
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 99;
}
.section-six article aside #accordion .card .card-header h5 button {
  position: relative;
  display: block;
  width: 100%;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 120%;
  /* or 19px */
  text-align: justify;
  color: #625261;
  line-height: 35px;
  text-decoration: none;
}
.section-six article aside #accordion .card .card-header h5 button img {
  position: absolute;
  right: 20px;
  top: 15px;
}
.section-six article aside #accordion .card .card-body {
  width: 100%;
  background: #ffffff;
  box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-top: 50px;
  margin-top: -20px;
  z-index: -1 !important;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */
  text-align: justify;
  color: #625261;
  line-height: 25px;
}
.section-six article aside:nth-of-type(2) {
  margin-left: auto;
  width: 50%;
}
@media all and (max-width: 415px) {
  .section-six h2 {
    font-size: 32px;
    margin-top: 50px;
  }
  .section-six article {
    width: 96%;
    margin: 10px auto 0;
  }
  .section-six article aside {
    margin-top: 50px;
    width: 100%;
  }
  .section-six article aside h4 {
    font-size: 35px;
    text-align: center;
  }
  .section-six article aside #accordion {
    width: 95% !important;
    margin: 0 auto;
  }
  .section-six article aside:nth-of-type(2) {
    width: 100%;
  }
}

.section-seven {
  width: 70%;
  margin: 100px auto;
}
.section-seven div {
  width: 50%;
}
.section-seven div h4 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 120%;
  /* identical to box height, or 42px */
  text-align: justify;
  color: #625261;
}
.section-seven div h4 span {
  color: #89BEB3;
}
.section-seven div form {
  margin-top: 50px;
}
.section-seven div form input:nth-of-type(4) {
  background-color: #89BEB3;
  color: #ffffff;
}
.section-seven div form .input-design {
  width: 75%;
  height: 60px;
  background: #ffffff;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  margin: 15px 0;
  padding: 0 20px;
  outline: none;
}
.section-seven div p {
  margin-top: 30px;
  width: 75%;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 180%;
  text-align: center;
  color: rgba(50, 50, 50, 0.6);
}

@media all and (max-width: 415px) {
  .section-seven {
    width: 100%;
    overflow-x: hidden;
  }
  .section-seven div {
    width: 100%;
  }
  .section-seven div img {
    width: 95%;
    display: block;
    margin: 0 auto !important;
  }
  .section-seven div h4 {
    margin-top: 50px;
    text-align: center;
    font-size: 28px;
  }
  .section-seven div form {
    width: 75%;
    margin: 50px auto;
  }
  .section-seven div form .input-design {
    width: 100%;
  }
  .section-seven div p {
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
